body {
  background-color: #ffcccc;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a {
  cursor: pointer;
  background-color: #22c7db;
  color: white;
  font-size: 18px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button {
  background-color: #22c7db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 20px;
}

#quote-box {
  margin: auto;
  margin-top: 30px;
  width:70%;
  border-radius: 8px;
  padding: 30px 50px 50px 50px;
}

#text {
  color: white;
  font-size: 50px;
}